{% extends 'core/base.html' %}

{% block title %}💀💀💀{% endblock %}

{% block content %}

  <header class="sticky  {% if not request.user.is_authenticated %} top-14 {% else %} top-2 {%endif%} z-50 m-2">
    <div class="grid grid-cols-5 gap-2 px-2">
    <a class="text-center md:text-2xl md:mb-3 md:px-6 md:py-3 py-2 px-2  text-lg font-semibold bg-red-400 text-white rounded-xl hover:bg-red-500" href="#">top</a>
    <a class="text-center md:mb-3 md:text-2xl md:px-6 md:py-3 py-2 px-2 md:text-2xl text-lg font-semibold text-white {% if gender == 'W' %}  bg-purple-600 hover:bg-purple-300 {%else%} bg-orange-300 hover:bg-orange-500 {%endif%}  rounded-xl" href="{% url 'item:gender' 'W' %}">woman</a>
    <a class="text-center md:mb-3 md:text-2xl md:px-6 md:py-3 py-2 px-2 md:text-2xl text-lg font-semibold text-white {% if gender == 'ALL' %} bg-purple-600 hover:bg-purple-300 {%else%} bg-orange-300 hover:bg-orange-500 {%endif%} rounded-xl" href="{% url 'item:gender' 'ALL'%}">all </a>
    <a class="text-center md:mb-3 md:text-2xl md:px-6 md:py-3 py-2 px-2 md:text-2xl text-lg font-semibold text-white {% if gender == 'M' %}  bg-purple-600 hover:bg-purple-300 {%else%} bg-orange-300 hover:bg-orange-500 {%endif%}  rounded-xl" href="{% url 'item:gender' 'M' %}">man</a>
    <a class="text-center md:mb-3 md:text-2xl md:px-6 md:py-3 py-2 px-2 md:text-2xl text-lg font-semibold bg-green-300 hover:bg-green-400 rounded-xl text-neutral-950" aria-current="page" href="{% url 'item:basket' %}">🧺    {% if request.user.items.all|length != 0 %}
        {{request.user.items.all|length}}
{%endif%}</a>
</div>
  </header>

    <div class="mt-4 px-6 py-4 bg-gray-100 rounded-xl dark:bg-zinc-500">
        <h2 class="mb-4 text-3xl text-center font-semibold dark:text-white"><a href="/"> All stuff 🎃</a></h2>

        <form method="get" action="{% url 'item:items' %}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  </div>
                {%if query%}
                    <input name="query" type="text" class="form-control" autofocus value="{{query}}">
                {%else%}
                    <input name="query" type="text" class="form-control" autofocus>
                {%endif%}
              </div>
        </form>
    

        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            {% for category in categories %}
                <div>
                    <a href="{% url 'core:category' category.id %}">
                        <div class="p-2 bg-white rounded-b-xl text-center dark:text-black">
                            <h2 class="text-md md:text-2xl font-semibold">{{ category.name }}</h2>
                            <p class="text-gray-500 text-sm">{{ category.items.count }} items</p>
                            {% if request.user.is_superuser %}
                                <a href="{% url 'item:remove_category' category.id %}" class="block mt-2 px-2 mx-1 py-2 text-sm md:text-lg font-semibold bg-red-500 hover:bg-red-600 text-white rounded-xl">Remove</a>
                                <a href="{% url 'item:edit_category' category.id %}" class="block mt-2 px-2 py-2 mx-1 text-sm md:text-lg font-semibold bg-red-500 hover:bg-red-600 text-white rounded-xl">Edit</a>
                            {%endif%}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="md:mt-6 mt-4 px-3 md:px-6 md:py-12 py-4 bg-gray-100 rounded-xl dark:bg-zinc-500" id="target-element">
        <h2 class="md:mb-12 mb-4 text-2xl text-center font-semibold dark:text-white">{{ name_category }}</h2>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        {% if item.gender == 'W'%}
                            {% if item.image.url %}
                            <div class="bg-image hover-overlay hover-zoom ">
                                <img src="{{ item.image.url }}" class="rounded-t-xl object-cover w-full md:h-96 h-40">
                                <div class="mask" style="
                                    background: linear-gradient(
                                        45deg,
                                        hsla(349, 94%, 58%, 0.34),
                                        hsla(263, 87.7%, 44.7%, 0.2) 100%
                                    );
                                "></div>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if item.image.url %}
                            <div class="bg-image hover-overlay hover-zoom ">
                                <img src="{{ item.image.url }}" class="rounded-t-xl object-cover w-full md:h-96 h-40">
                                <div class="mask" style="
                                    background: linear-gradient(
                                        45deg,
                                        hsla(217, 89%, 51%, 0.5),
                                        hsla(263, 87.7%, 44.7%, 0.2) 100%
                                    );
                                "></div>
                            </div>
                            {% endif %}
                        {% endif %}
                        <div class="p-2 bg-white rounded-b-xl">
                                {% if item.gender == 'M'%}
                                <h2 class="md:text-3xl text-md text-blue-700 font-semibold">{{ item.name }}</h2>
                                {% else %}
                                <h2 class="md:text-3xl text-md text-red-700 font-semibold">{{ item.name }}</h2>
                                {% endif %}
                            <strong><p class="text-md md:text-3xl font-semibold">{{ item.price }}$</p></strong>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}