{% extends 'core/base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}

<h1 class="mb-6 text-3xl mt-4 ">Comments</h1>

<div class="space-y-6">
    {% for item in items %}
        <a href="{% url 'item:detail' item.id %}">
            <div class="p-6 flex bg-gray-100 rounded-xl">
                <div class="pr-6">
                    <img src="{{ item.image.url }}" class="w-20 rounded-xl">
                </div>

                <div class="mt-2">
                    <strong><p>{{ item.name }}</p></strong>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{%endblock%}