{% extends 'core/base.html' %}

{% block title %}{{ all }}{% endblock %}

{% block content %}
<div>

    <div class="md:mt-6 mt-4 px-3 md:px-6 md:py-12 py-4 bg-gray-100 rounded-xl dark:bg-zinc-500 dark:text-white" id="target-element">
        <h2 class="md:mb-12 mb-2 text-2xl text-center font-semibold">All purchases</h2>
        {%if purchases %}
            {%for purchase in purchases %}
            <div class="rounded-xl">
                <hr class="mt-4">
                <div class="w-1/2 mx-auto text-center">
                    <p class="text-gray-500 dark:text-white text-lg"><strong>username: </strong>{{ purchase.user.username }}</p>
                    <p class="text-gray-500 dark:text-white text-lg"><strong>email: </strong> {{ purchase.user.email }}</p>
                    <p class="text-gray-500 dark:text-white text-lg"><strong>Total: </strong>{{ purchase.price }}$</p>
                    <p class="text-gray-500 dark:text-white text-lg"><strong>telegram: </strong> {{ purchase.telegram }}</p>
                    <p class="text-gray-500 dark:text-white text-lg"><strong>date: </strong> {{ purchase.created_at }}</p>
                    <a href="{% url 'item:purchase_delete' purchase.id %}" class="block text-center mt-2 mb-2 x-2 py-2 text-xl font-semibold bg-red-500 hover:bg-red-600 text-white rounded-xl">Remove</a>
                </div>
                    <div class="grid grid-cols-3 gap-3">
                        {% if purchase.items.all %}
                            {% for item in purchase.items.all %}
                            <div>
                                <a href="{% url 'item:detail' item.id %}">
                                    {% if item.gender == 'W'%}
                                        {% if item.image.url %}
                                        <div class="bg-image hover-overlay hover-zoom ">
                                            <img src="{{ item.image.url }}" class="rounded-t-xl object-cover w-full md:h-96 h-40">
                                            <div class="mask" style="
                                                background: linear-gradient(
                                                    45deg,
                                                    hsla(349, 94%, 58%, 0.34),
                                                    hsla(263, 87.7%, 44.7%, 0.2) 100%
                                                );
                                            "></div>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        {% if item.image.url %}
                                        <div class="bg-image hover-overlay hover-zoom">
                                            <img src="{{ item.image.url }}" class="rounded-t-xl object-cover w-full md:h-96 h-40">
                                            <div class="mask" style="
                                                background: linear-gradient(
                                                    45deg,
                                                    hsla(217, 89%, 51%, 0.5),
                                                    hsla(263, 87.7%, 44.7%, 0.2) 100%
                                                );
                                            "></div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="md:p-6 p-2 bg-white rounded-b-xl">
                                            {% if item.gender == 'M'%}
                                            <h2 class="md:text-3xl text-md text-blue-700 font-semibold">{{ item.name }}</h2>
                                            {% else %}
                                            <h2 class="md:text-3xl text-md text-red-700 font-semibold">{{ item.name }}</h2>
                                            {% endif %}
                                        
                                        <strong><p class="text-md md:text-3xl font-semibold dark:text-slate-950">{{ item.price }}$</p></strong>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
            </div>
            {%endfor%}
        {%else%}
            Нету заказов
        {%endif%}

</div>

{% endblock %}